b'gAAAAABi800mE_tVkHOzSZfSt_CxqQFJBYAWsZh6Hcuct40Zw6u0mGgpCJ5kjy2X0kmGeIv1ow9hMrlynAjH_DnbYXL2qhc7df8kjE1IGfsclnCHZiuoSWhv83ANxjZboytbBY3p8mTDIgJr_Risr0kmf4qQK0NdWrJVdyFMyIVzjiUQPXAjgFs-Ho3TVwds0FYdbEfgBTjkRbvvKGjS90mvFtYMahPNFr5MeEMAArkV5ZxDUoiGfZL1Gnhqe8lvbXlBmpkAmZTQvPPNeoT1QKEJV9CgR9HUQeGCCYGkRQrv6eHDPCbvJzJN2rPt88oG70ybjkAu3lWREVRWz9-1LkxGsnBhw-mrteulVVdtL8Xd7CF_RWxq-iabbNbafR_XKEwufWrYJV-AE_KM-yZ2ICImtAgO-tpwQYqZveIUUXT-rl1b6wVGsBc='