b'gAAAAABixSQOwPvmU0Q6BytSwLQ9ItXfeR12UpKEISKU3wOswlc5k75u2YJ9M9_XTeSDb-icx2RaGeAec_IuNGpRLr40O8twB4s5R9-V6464NfntgArJNVx5Bsek3ZunzVna-fRviFV55yZ8NRefPnRogSUr1xDTg3iZtdztrcS5ndN6eLiWL6Rhs7wCPOGtsTxg22TZlFc50R3afOLWHCHVRJG6mixfKE2-5S1NSgBM-CbcEPYXpixN0Oco0jHmhXZr23tUAuR2iiXTWss-M2dVuHck3Y7ZQ2lMGHMF84U-nmYxX_56DDo='