b'gAAAAABjKHPqx8ZmEmwMPXMvwH_Xs6GtaMjvdYnJ8GibadTFYpyi7QKe8s6HjcKhSjH8tRjnEQp10ZfXx_ofpUCpsxo1hLva12rwaSrQJeOiC424SXgOXakbk1w1OMI0l7XJ_XNb-2wMd-lVL0s2W-BDqwEV3U2VS-o7O1NLGBFnjtvy9dYoIgLoKfZScy0dBXjyDZaxYBIsNgnYNk3GxV_dqJKfQenSy2tdGYgnTVn1-zOLchkn6CGKhERd0j_9P5k6XjFAcOMd6YP4CZ90JqaMTwpgdOLk4DX07Kz1-dyDqIuQC8rpzGjeFwmIBUN1y6RrFfDF2_o_sws8qOOqqkOtJO9XrocHe-xrDUO1-SGBamb_BPkaCGhZvGeC1k1W4m5e8lAJHNYyiH0mMmguz7npwg1-O0ZIfdRtzQIuHMgE6kjKvSQOBa0='