b'gAAAAABi65Cuj2FuiCREMbHKY8Pgx0xHHEThHJehYr7eInIuxDZ2JMBNctqHX4kGyDHNtl2H0ysNwXp9e8CfCpGVCiCWaIB-s0Vg6wu4J6hNSa5RTF6EVj3i9ZtCj_goauxyZWaKuwpsQNSbxX2_wtB2D0xgoAcqMDjB0nUy-T13ZEeO0ab3zpAVydRNJ9-NwiPL9C7VyAKXh_Mu4ADwp1993UKDo3nal3WxmaVkiNbGUsnZKsmauWN8O2-Dz9_17ZbQa7wzi6neskQJd8Cl6oIo1Bb63OXTe9t_RMFOX1GcO22c4powTrQ1dAK88bqT1Sx0oPZCSuZKiNgv8O738Vu68x5r_j17QfUExpD58BkrlF_LGUrDxvNr2pBW_vnlN7zJzKr8ILFouIcwoqOQMGXtxgs-SL7-6w=='